# Kafka Configuration

KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=order-events

# Database Configuration

DATABASE_URL="postgresql://user:pass@localhost:5432/notification_db"

# Email Configuration (Google SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yourEmail@gmail.com
SMTP_PASS=yourAppSpecificPassword

SMTP_FROM=yourEmail@gmail.com

# Twilio Configuration
TWILIO_SID=yourTwilioSid
TWILIO_AUTH_TOKEN=yourTwilioAuthToken
TWILIO_PHONE=+12179099001

# Firebase Configuration
FCM_SERVER_KEY=yourFirebaseServerKey